<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agenda.Properties.Settings.ConnectionString" connectionString="Data Source=DARNASSUS\MOTORHEAD;User ID=230294;Password=r2A@v*y0"
            providerName="System.Data.SqlClient" />
        <add name="Agenda.Properties.Settings.db_230294ConnectionString"
            connectionString="Data Source=DARNASSUS\MOTORHEAD;Initial Catalog=db_230294;User ID=230294;Password=r2A@v*y0"
            providerName="System.Data.SqlClient" />
        <add name="Agenda.Properties.Settings.ConnectionString1" connectionString="Data Source=DARNASSUS\MOTORHEAD;User ID=230747;Password=Papainoel15__"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>